@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-size: 14px;
  color: #000; }
  body.lock {
    overflow: hidden; }

@font-face {
  font-family: "BravoRG";
  src: url("../fonts/BravoRGRegular.eot");
  src: local("☺"), url("../fonts/BravoRGRegular.woff") format("woff"), url("../fonts/BravoRGRegular.ttf") format("truetype"), url("../fonts/BravoRGRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "CeremoniousOne";
  src: url("../fonts/ceremonious_one.eot");
  src: local("☺"), url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.ttf") format("truetype"), url("../fonts/ceremonious_one.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "PFDinTextCondPro";
  src: url("../fonts/pfdintextcondpro-medium.eot");
  src: local("☺"), url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.ttf") format("truetype"), url("../fonts/pfdintextcondpro-medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "PFDinTextCondPro";
  src: url("../fonts/pfdintextcondpro-regular.eot");
  src: local("☺"), url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.ttf") format("truetype"), url("../fonts/pfdintextcondpro-regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

html,
body {
  font-family: "PFDinTextCondPro";
  font-weight: 500; }

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.container {
  max-width: 958px;
  margin: 0px auto;
  padding: 0px 15px; }

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 75px;
  background-color: #1c242a; }
  .header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1c242a;
    z-index: 1; }
  .header__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75px; }
  .header__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%; }
  .header__logotipe {
    position: relative;
    z-index: 2;
    white-space: nowrap; }
  .header__hammer {
    padding: 0px 2px 0px 0px; }
  .header__burger {
    display: none; }
  .header__menu {
    position: relative;
    z-index: 2;
    margin: 0px 51px 0px 0px; }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header__list li {
      margin: 0px 16px; }
      .header__list li:first-child {
        margin: 0px 16px 0px 0px; }
      .header__list li:last-child {
        margin: 0px 0px 0px 16px; }
      .header__list li a {
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        white-space: nowrap;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #ffffff; }
        .header__list li a:hover {
          color: #cbaa72; }
  .header__touch {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__region {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer; }
    .header__region:hover .header__text {
      color: #cbaa72; }
  .header__globe {
    margin: 0px 11px 0px 0px; }
  .header__text {
    position: relative;
    z-index: 2;
    margin: 0px 25px 0px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff; }
    .header__text:hover {
      color: #cbaa72; }

.user {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative; }
  .user__wrapper {
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .user__imagine {
    margin: 0px 5px 0px 0px; }
  .user__arrows {
    margin: 9px 0px 0px 0px;
    position: relative; }
  .user__arrow {
    position: absolute; }
    .user__arrow_u {
      width: 100%;
      height: 100%;
      top: -11px;
      left: 0; }
    .user__arrow_d {
      width: 100%;
      height: 100%;
      bottom: 2.5px;
      left: 0; }

.drop-down {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 176px;
  top: 0px;
  right: -10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .drop-down._active {
    opacity: 1;
    visibility: visible; }
  .drop-down li {
    margin: -1px 0px;
    background-color: #1c242a;
    padding: 4px 0px 4px 22px; }
    .drop-down li:first-child {
      padding: 10px 0px 4px 20.5px; }
    .drop-down li:last-child {
      padding: 4px 0px 29.5px 22px; }
  .drop-down__wrapper {
    padding: 45px 0px 0px 0px; }
  .drop-down__link {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: "PTSans", sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #fff; }
    .drop-down__link:hover {
      color: #cbaa72; }
    .drop-down__link_1 {
      background: url("../img/header/globe_min.png") left no-repeat;
      padding: 0px 0px 0px 25px; }
    .drop-down__link_2 {
      background: url("../img/header/key.png") left no-repeat;
      padding: 0px 0px 0px 25px; }
    .drop-down__link_3 {
      background: url("../img/header/hand.png") left no-repeat;
      padding: 0px 0px 0px 23px;
      display: block;
      -webkit-transform: translate(2px, 0);
      -ms-transform: translate(2px, 0);
      transform: translate(2px, 0); }
    .drop-down__link_4 {
      background: url("../img/header/hammer_min.png") left no-repeat;
      padding: 0px 0px 0px 25px; }

@media (max-width: 900px) {
  .header__menu {
    margin: 0px 31px 0px 0px; }
  .header__text {
    display: none; }
  .header__globe {
    margin: 0px 15px 0px 0px; } }

@media (max-width: 756px) {
  .header__list li {
    margin: 0px 8px; }
    .header__list li:first-child {
      margin: 0px 8px 0px 0px; }
    .header__list li:last-child {
      margin: 0px 0px 0px 8px; } }

@media (max-width: 690px) {
  .header {
    height: 55px; }
    .header:after {
      z-index: 4; }
    .header__wrapper {
      height: 55px; }
    .header__column {
      -webkit-box-flex: 1;
      -ms-flex: auto;
      flex: auto; }
      .header__column_1 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      .header__column_2 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      .header__column_4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4; }
    .header__logotipe {
      z-index: 5; }
    .header__touch {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      right: 2%;
      z-index: 5; }
    .header__burger {
      position: absolute;
      display: block;
      width: 30px;
      height: 18px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      left: 0;
      z-index: 5; }
      .header__burger:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 0;
        left: 0;
        background-color: #cbaa72;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .header__burger span {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 8px;
        left: 0;
        background-color: #cbaa72;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .header__burger:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 16px;
        left: 0;
        background-color: #cbaa72;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
    .header__burger.active {
      top: 0;
      -webkit-transform: translate(0, 100%);
      -ms-transform: translate(0, 100%);
      transform: translate(0, 100%); }
      .header__burger.active:before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 7px; }
      .header__burger.active span {
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }
      .header__burger.active:after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 7px; }
    .header__menu {
      margin: 0px 0px 0px 0px;
      padding: 100px 0px 0px 0px;
      position: fixed;
      width: 100%;
      height: 100%;
      top: -100%;
      left: 0;
      background-color: #1c2831;
      z-index: 3;
      -webkit-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
    .header .active {
      top: 0; }
    .header__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .header__list li {
        margin: 20px 0px; }
        .header__list li:first-child {
          margin: 0px 0px 20px 0px; }
        .header__list li:last-child {
          margin: 20px 0px 0px 0px; }
        .header__list li a {
          font-size: 22px; }
  .drop-down {
    -webkit-transform: translate(10%, 0);
    -ms-transform: translate(10%, 0);
    transform: translate(10%, 0); }
    .drop-down__wrapper {
      padding: 35px 0px 0px 0px; } }

.main {
  padding: 75px 0px 0px 0px;
  position: relative;
  background-color: #000; }
  .main__parallax {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background: url("../img/main/01.jpg") center no-repeat;
    background-size: cover; }
  .main__slide {
    padding: 35px 0px 100px 0px; }
  .main__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main__title {
    font-family: "CeremoniousOne";
    font-size: 40px;
    font-weight: 400;
    color: #bb9c66; }
  .main__subtitle {
    margin: 23px 0px 27px 0px;
    font-family: "PFDinTextCondPro";
    font-size: 35px;
    line-height: 35px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: #ffffff;
    text-align: center; }
  .main__text {
    max-width: 740px;
    text-align: center;
    font-family: "PTSans", sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    color: #ffffff; }
  .main__button {
    margin: 58px 0px 0px 0px;
    position: relative;
    width: 250px;
    height: 50px;
    border: 3px solid #bb9c66;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden; }
    .main__button:hover span {
      opacity: 0.6;
      visibility: visible;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
    .main__button:hover p {
      z-index: 2; }
    .main__button p {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      position: relative;
      font-family: "PTSans", sans-serif;
      font-size: 15px;
      line-height: 21px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: #ffffff; }
    .main__button span {
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
      transform: translate(0, -100%);
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left bottom, left top, from(#4b3813), color-stop(50%, #ceb17c), to(#6e5933));
      background: -webkit-linear-gradient(bottom, #4b3813 0%, #ceb17c 50%, #6e5933 100%);
      background: -o-linear-gradient(bottom, #4b3813 0%, #ceb17c 50%, #6e5933 100%);
      background: linear-gradient(0deg, #4b3813 0%, #ceb17c 50%, #6e5933 100%); }
  .main__buttons {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
    bottom: 0px;
    left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
    .main__buttons:before {
      content: "";
      position: absolute;
      width: 70%;
      height: 70%;
      top: 65%;
      left: 15%;
      background-color: #fff;
      -webkit-transform: rotate(45deg) translate(-50%, -50%);
      -ms-transform: rotate(45deg) translate(-50%, -50%);
      transform: rotate(45deg) translate(-50%, -50%); }
  .main__prev {
    cursor: pointer;
    position: relative;
    z-index: 3;
    background: url("../img/main/arr-l.png") 0 0 no-repeat;
    width: 14px;
    height: 24px; }
  .main__load {
    position: relative;
    z-index: 3;
    margin: 0px 12px;
    -webkit-animation: load 2s linear infinite;
    animation: load 2s linear infinite; }

@-webkit-keyframes load {
  0% { }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load {
  0% { }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  .main__next {
    cursor: pointer;
    position: relative;
    z-index: 3;
    background: url("../img/main/arr-r.png") 0 0 no-repeat;
    width: 14px;
    height: 24px; }

@media (max-width: 830px) {
  .main__subtitle {
    line-height: 43px; } }

@media (max-width: 690px) {
  .main {
    padding: 55px 0px 0px 0px; } }

@media (max-width: 450px) {
  .main__subtitle {
    font-size: 30px;
    line-height: 35px; } }
